*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {

  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  padding: 1rem;
  color: #fff
}


p {
  font-size: 1.25rem;
  line-height: 1.3;
  color: #b2b2b2;
}

.header {
  text-align: center;
  font-size: 2rem
}

.menu ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}

.menu a {
  display: block;
  background: #222;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.menu a:hover {
  border: solid 1px #ffbb00;
}

.conteudo {
  display: flex;
  max-width: 62.5rem;
  background: #000000;
  padding: 2rem;
  gap: 2rem;
  margin: 1rem auto;
  align-items: center;
  border-radius: 5px;
}

.introducao-img{
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  align-items: center;
  background-color: #111111;
  padding: 1rem;
  overflow-x: scroll;
}

.introducao-img::-webkit-scrollbar {
  background: #222;
}

.introducao-img::-webkit-scrollbar-thumb {
  background: #ffbb00;
  border-radius: 5px;
}



.introducao-img img{
    height: 25rem;

}

.introducao h2 {
  font-size: 4rem;
}

.introducao p{
  margin: 2rem 0;
  max-width: 68ch;
}


.botao {
  background: #ffbb00;
  color: #302300;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: #900;
}

.vantagens{
  display: flex;
  gap: 2rem;
  max-width: 62.5rem;
  margin: 1rem auto;
  align-items: center;
}

.vantagens-titulo{
  font-size: 3rem;
  letter-spacing: 2px;
  background: url(./img/onda.svg);
  color: #ffbb00;

}

.vantagens-lista{
  padding: 1rem;
}

.vantagens-lista li{
  margin: 1rem 0;
  background-color: #000000;
  padding: 2rem;
  border-radius: 10px;
}

.vantagens h3{
  margin: 0.60rem 0;
  font-size: 1.4rem;
}
.rodape {
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

.red{
  color: #ffbb00;
  font-size: 2rem;
}
@media screen and (max-width: 740px){
  .conteudo{
    display: grid;
    grid-template-columns: 1fr;
  }
  .vantagens{
    display: grid;
    grid-template-columns: 1fr;
  }
  .vantagens-titulo{
    text-align: center;
    max-width: 30.5rem;
    background-position: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px){
  .header{
    font-size: 1.5rem;
  }
  .menu a{
    padding: 0.7rem 1rem;
    font-size: 15px;
  }
  .introducao h2{
    font-size: 2.5rem;
  }
  .introducao{
    margin: 1rem 0;
    max-width: 68ch;
    font-size: 15px;
  }
  .botao{
    padding: 1rem 1.5rem;
  }
  .introducao-img img{
    height: 20rem;
  }
  .vantagens-titulo{
    font-size: 2.3rem;
  }
  .vantagens-lista{
    padding: 0.5rem;
  }
  .vantagens-lista li{
    margin: 0.5rem 0;
    background-color: #000000;
    padding: 1rem;
    border-radius: 10px;
  }
  .vantagens h3{
    margin: 0.50rem 0;
    font-size: 1.2rem;
  }
  .vantagens p{
    font-size: 18px;
  }
  .rodape {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .rodape p{
    font-size: 17px;
  }
}
@media screen and (max-width: 470px){
  .header{
    font-size: 1rem;
  }
  .menu a{
    padding: 0.5rem 0.7rem;
    font-size: 12px;
  }
  .introducao h2{
    font-size: 2rem;
  }
  .introducao{
    margin: 0.7rem 0;
    max-width: 60ch;
    font-size: 12px;
  }
  .botao{
    padding: 0.7rem 1rem;
  }
  .introducao-img img{
    height: 15rem;
  }
  .vantagens-titulo{
    font-size: 2rem;
  }
  .vantagens-lista{
    padding: 0.3rem;
  }
  .vantagens-lista li{
    margin: 0.5rem 0;
    background-color: #000000;
    padding: 1rem;
    border-radius: 10px;
  }
  .vantagens h3{
    margin: 0.50rem 0;
    font-size: 1rem;
  }
  .vantagens p{
    font-size: 15px;
  }
  .rodape {
    width: 100%;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
  }
  .rodape p{
    font-size: 15px;
  }
}
@media screen and (max-width: 355px){
  .header{
    font-size: 0.8rem;
  }
  .menu a{
    padding: 0.3rem 0.5rem;
    font-size: 10px;
  }
  .introducao h2{
    font-size: 1.5rem;
  }
  .introducao{
    margin: 0.5rem 0;
    max-width: 60ch;
    font-size: 10px;
  }
  .introducao p{
    font-size: 15px;
  }
  .botao{
    padding: 0.5rem 0.7rem;
  }
  .introducao-img img{
    height: 10rem;
  }
  .vantagens-titulo{
    font-size: 1.5rem;
  }
  .vantagens-lista{
    padding: 0.3rem;
  }
  .vantagens-lista li{
    margin: 0.5rem 0;
    background-color: #000000;
    padding: 1rem;
    border-radius: 10px;
  }
  .vantagens h3{
    margin: 0.40rem 0;
    font-size: 0.7rem;
  }
  .vantagens p{
    font-size: 12px;
  }
  .rodape {
    width: 100%;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
  }
  .rodape p{
    font-size: 12px;
  }
}